@media (min-width:1900px) {
	html {
		font-size: 11px;
	}
}

@media (max-width:1899px) and (min-width:1400px) {
	html {
		font-size: 11px;
	}
}

@media (max-width:1399px) and (min-width:1200px) {
	html {
		font-size: 10px;
	}
}

@media (max-width:1199px) and (min-width:990px) {
	html {
		font-size: 8px;
	}
}

@media (min-width:990px) {
	.m-menu-link {
		display: none;
	}
}

@media (max-width:989px) {
	html {
		font-size: 9px;
	}
	  .section__title--bg{
       font-size: 25px;
	}
	  .section__title--sm{
       font-size: 23px;
	 }

	 .section__subtitle--bg{
	 	font-size: 20px;
	 }
	  .section__subtitle--sm{
	 	font-size: 18px;
	 }
      .services__flex{
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;

   }
   .services__item{
      padding-bottom: 1rem;
    }

	.m-menu-link {
		display: block;
	}

	.visible-lg {
		display: none;
	}
	.services-icon{
      width: 
	}
}


@media screen and (max-width:760px){
   .article__content{
   	display: -webkit-box;
    display: flex;
    margin-bottom: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;

   }
    .article-item{
    padding-top: 1em;
    height: 100vh;

    
   }
   .article-item img{
   width: 90%;
   }

}

@media (min-width:761px) and (max-width:999px){
    .article-item{
    width: 100%;
    display: -webkit-box;
    display: flex;
    margin-bottom: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: row;
  }
  .article-item img{
   width: 50%;
   height: 50%;
  -webkit-box-flex: 0;
    flex: 0 1 25%;
  }
  .text_content{
    padding-top: 2rem;
    padding-left: 2rem;
    -webkit-box-flex: 0;
            flex: 0 1 70%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: column;
   }
.article__content{
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
    margin-left: 2rem;
    margin-right: 2rem;
   }
}

@media screen and (max-width:999px){
 h2{
  	text-align: center;
  }

  .projects__flex{
    margin:2rem;
  }

  .section__title--sm{
    text-align: center; 
  }
  .projects__img{
    width: 80%;
    height: 70%;
  }
  .video_wrapper {
  	margin:0 2rem 0 -17rem;
  }

}
@media screen and (max-width:470px){
.footer-content{
	text-align: : center;
	display: -webkit-box;
	display: flex;
	flex-wrap: wrap;
	  -webkit-box-orient: horizontal;
	  -webkit-box-direction: normal;
	flex-direction: column;
    }
}
@media screen and (max-width:470px){
	form, input{
	 width: 20em;
	}
    .form__submit .btn_form{
      width: 9em;
    }

}